body
{
  margin: 0;
}



.container
{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

@import '../blocks/cities/cities.scss';

@import '../blocks/days/days.scss';
